body {
  overflow-x: hidden;
}

.ocultar{
  display: none;
}

.padding1{
  padding-left: 100px;
}

input.error {
  border: 2px dashed red;
}

input.success {
  border: 2px solid green;
}

textarea.error {
  border: 2px dashed red;
}

textarea.success {
  border: 2px solid green;
}

.padding2{
  padding-left: 95px;
}

.formMiCuenta{
  width: 300px !important;
}

.titulosSidebar{
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  letter-spacing: 2px;
  color: white;
}

.fondoOscuro {
  background-color: #16181D;
}

.nav-link{
  margin-left: 0 !important;
  background-color: #16181D !important;
  border-left: 3px solid transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-family: 'Mulish', sans-serif;
  font-weight: 300%;

}

li{
  list-style: none;
}

.tamañoBotonesMiCuenta {
  width: 120px;
  height: 120px;
}

#usuarioLabel{
  margin-left: 5px;
}

.nav-link:hover{
  border-left-color: #A492F9;
  background-color: #1e2127 !important;
}

.submenu{
  padding:5px !important;
  padding-left: 20px !important;
  border-bottom: none !important;
}

.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  background-color: #16181D;
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

.tarjetaDispositivo{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}

.text-uppercase {
  letter-spacing: 0.1em;
}

.text-gray {
  color: #aaa;
}

.nav-link {
  text-transform: capitalize;
}

.nav-link:hover {
  background: #f3f2f2;
}

.text-primary {
  color: #7579e7 !important;
}

td{
  padding-top: 15px !important;
}

.tamanoBoton{
  width: 12px !important;
  height: 12px !important;
  font-size: 15px !important;
}

.paddingUsername{
  padding-top: 10px !important;
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  letter-spacing: 1px;
}

.paddingFlecha{
  padding-top: 11px !important;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }

  #sidebar.active {
    margin-left: 0;
  }

  #content {
    width: 100%;
    margin: 0;
  }

  #content.active {
    margin-left: 17rem;
    /*width: calc(100% - 17rem);*/
  }

  #fotoPerfil{
    width: 35px !important; 
    margin-right: 10px !important;
  }

  .paddingFlecha{
    display: none;
  }

  .paddingUsername{
    display: none !important;
  }

  .centrarContenido{
    justify-content: center !important;
    align-items: center !important;
  }

  .tituloMiCuenta{
    margin-left: 0 !important;
    margin-top: 30px !important;
    text-align: center;
  }
}

.bordeDivFotografia{
  content: " ";
  width: 170px;
  height: 170px;
  border: 3px dashed rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 170px;
}

.divFotografia{
  content: " ";
  width: 150px;
  height: 150px;
  border: 2px solid dark;
  border-radius: 150px;
}

.fotografiaPerfil{
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.fotografiaPerfil2{
  width: 35px;
  height: 35px;
  object-fit: cover;
}

.divFotografia2{
  content: " ";
  width: 100px;
  height: 100px;
  border-radius: 150px;
  background-color: rgb(158, 158, 158);
}

.tituloMiCuenta{
  font-family: 'Roboto Mono',sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  text-align: center;
}

.inputMiCuenta{
  width: 300px !important;
}

.textareaMiCuenta{
  height: 190px !important;
}
