* {
    padding: 0;
    margin: 0;
    user-select: none;
    box-sizing: border-box;
}

input.error{
    border: 1px solid red;
}

input.success{
    border: 1px solid green;
}

#txtDireccion.error{
    border: 1px solid red;
}

#txtDireccion.success{
    border: 1px solid green;
}



.titulo1{
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 16px;
    padding-left: 25px;
    letter-spacing: 1px;
    margin-top:30px;
}

.margenIconos {
    margin-right: 20px;
}

.title{
    color: rgb(0, 0, 0);
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    text-align: center;
}

.imagenUsuario{
    width: 40px;
    border-radius: 20%;
    align-items: flex-end;
}

#barraInicial{
    margin-top: 5px;
}

.imagenGrafica{
    margin: auto;
    display: block;
    width: 280px;
}

.imagenSeparator{
    margin-top: -50px;
    width: 270px;
    margin-left: 40px;
}

.apartado{
    color: rgb(0, 0, 0);
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
}



.imagenUsuario1{
    width: 120px;
    border-radius: 20%;
    margin-left: 30px;
}

.foto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#btnAgregarFoto{
    margin-left: 10px !important;
}

.formulario1{
    margin-left: 40px;
   
}

.formulario2{
    margin-left: 200px;
   
}

#selecciona{
    width: 140px;
}

.tabla{
    color: white;
}

td{
    padding-top: 15px !important;
}

.tamanoBoton{
    width: 12px !important;
    height: 12px !important;
    font-size: 15px !important;
}

@media screen and (max-width:1200px){

    .apartado{
        margin-left: 0px;
    }
    
    .formulario{
        margin-left: 0px;
    }
    
    .imagenSeparator{
        margin-left: 0px;
    }

    .formulario1{
        margin-left: 0px;
       
    }
    
    .formulario2{
        margin-left: 0px;
       
    }


}
